.hall {
  width: 80%;
  margin-top: 30px;
  display: flex;
  @media screen and (max-width: 1000px) {
    width: 100%;
  }
  @media screen and (max-width: 700px) {
    flex-direction: column-reverse;
    justify-content: flex-start;
  }
  .place {
    border: 1px solid #007e90;
    height: 100%;
    min-width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 700px) {
      min-width: 300px;
      height: 80px;
    }


    .table {
      background-color: green;
      width: 90%;
      height: 90px;
      font-size: 24px;
      text-align: center;
      line-height: 90px;
      margin: 40% 10%;
      cursor: pointer;
      @media screen and (max-width: 700px) {
        height: 70%;
        width: 80%;
        line-height: 60px;
      }
    }
  
    .selected {
      background-color: yellow;
    }
  
    .booked {
      background-color: red;
    }
  }
}
  

