.hall {
  width: 80%;
  height: 100%;
  margin-top: 30px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  @media screen and (max-width: 800px) {
    transform-origin: center right;
    transform: rotate(-90deg);
    margin-left: 0;
    margin-right: 20px;
    margin-top: auto;
    margin-bottom: auto;
  }
  .place {
    border: 1px solid red;
    height: 100%;
    width: calc(900px/9);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}



  .table {
    background-color: green;
    width: 50px;
    height: 90px;
    font-size: 24px;
    text-align: center;
    line-height: 90px;
    margin: 40% 10%;
    @media screen and (max-width: 800px) {
      height: 135px;
      width: 75px;
    }
  }

  .selected {
    background-color: yellow;
  }

  .booked {
    background-color: red;
  }

