button {
  height: 35px;
  min-width: 40px;
  outline: none;
  padding: 0 8px;
  cursor: pointer;
  color: #007e90;
  border: 1px solid #007e90;
  font-size: 1em;
  margin: auto;
  border-radius: 5px;
}