<div>
  <p>Select Day</p>
  <button *ngFor='let day of nextFiveDays' (click)='findDay(day)' [ngClass]="day===this.selectedDayClass ? 'selected':''">{{day | makeHungarianDay}}</button>
  <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Choose a date" 
      (dateInput)="addEvent($event)" autocomplete="off" [min]="minDate" [max]="maxDate" #dateInput disabled>
      <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
      <mat-datepicker #picker disabled="false"></mat-datepicker>
  </mat-form-field>
</div>
<div *ngIf="this.selectedDay">
  <p>Select Starting Hour</p>
  <button *ngFor='let hour of hours' (click)='addStartHour(hour)' [ngClass]="hour===this.selectedHourClass ? 'selected':''">{{hour}}</button>
</div>
<div *ngIf="this.selectedDay && this.selectedHour">
  <p>Select Hall</p>
  <button *ngFor='let hall of halls' (click)='selectHall(hall)' [ngClass]="hall===this.selectedHall ? 'selected':''">{{hall}}</button>
</div>
<app-big-hall [selectedHour]='selectedHour' [selectedHall]='selectedHall' *ngIf="this.selectedHall && this.selectedDay && this.selectedHour" (selectedTable)="selectTable($event)"></app-big-hall>
<div *ngIf='selectedTable'>
  <p>Your selected time is: {{selectedHour | date:'short'}}</p>
  <p>Table number {{selectedTable}} in the {{this.selectedHall}}</p>
</div>